<html>
    <head>
	<title>swagladder</title>
    </head>
    <body>
	<h1>swagladder rankings</h1>
	<ul>
	{{#each players}}
	    <li>
		<b>{{name}}</b>: {{rating}}
	    </li>
	{{/each}}
	</ul>
    </body>
</html>
